// main layout
#chat {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	// padding: 0.5rem;

	&-sidebar {
		background: $dark-color0;
		height: 90vh;
		width: 25%;
		color: $light-color0;
		text-align: center;
		border-right: 2px solid $primary-color;

		#room {
			&-name {
				background: $dark-color1;
				padding: 1rem;
				font-size: 1.2rem;

				small {
					color: $primary-color;
				}
			}

			&-users {
				padding: 1rem 0.7rem;
				overflow-y: scroll;
				direction: rtl;
				height: 70vh;
				.user {
					color: $light-color1;
					padding: 0.7rem;
					background: $dark-color1;
					margin: 0.5rem 0;
					font-size: 1rem;
				}
			}
		}
	}

	&-main {
		height: 90vh;
		width: 75%;
		background: $dark-color1;
		padding: 1rem;
	}
}

// chat window layout
#chat-window {
	width: 100%;
	height: 100%;
	background: $dark-color1;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	border-radius: 10px;
	&-display {
		height: 88%;
		background: $dark-color0;
		// border: 2px solid red;
		border-radius: 10px;
		overflow-y: scroll;

		.message {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			max-width: 80%;
			min-height: 14%;
			margin: 0.8rem 0.5rem;
			padding: 0.5rem;
			background: $dark-color1;
			// border: 2px solid red;
			border-radius: 10px;

			&-details {
				display: flex;
				justify-content: space-between;
				.username {
					color: $primary-color;
				}
				.time {
					color: $light-color1;
				}
			}
			&-body {
				h3 {
					color: $light-color0;
				}
			}
		}
	}

	&-control {
		// padding: 1rem;
		background: $dark-color1;
		// border: 2px solid red;
		form {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			#message-text {
				background: $light-color0;
				color: $dark-color1;
				font-weight: 500;
				width: 92%;
				display: block;
				padding: 0.5rem;
				border-radius: 10px;
				border: 2px solid $dark-color1;
				outline: none;
				box-shadow: none;
			}

			button {
				background: $primary-color;
				padding: 0.6rem 1.2rem;
				border-radius: 10px;
				color: $dark-color1;
				font-weight: bold;
				border: none;
				transition: all 0.2s;

				&:hover {
					background: darken($primary-color, 5%);
				}

				&:active {
					background: $primary-color;
				}
			}
		}
	}
}
