@media (max-width: 770px) {
	#chat {
		&-sidebar {
			width: 35%;
		}

		&-main {
			width: 65%;
		}
		&-window {
			&-display {
				#message {
					max-width: 60%;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	#main-header #hamburger {
		display: flex;
	}

	#chat {
		&-sidebar {
			// display: none;
			transition: all 0.4s ease-in-out;
			position: absolute;
			top: 0;
			left: 0;
			width: 60%;
			z-index: 0;
			transform: translateX(-100%);
			// display: none;
		}

		&-main {
			width: 100%;
		}
	}
}

@media (max-height: 560px) {
	#join {
		.container {
			height: 140vh;
		}
	}
}

@media (max-height: 667px) {
	#chat-main {
		height: 88vh;
	}
}

@media (min-height: 1024px) {
	#chat-sidebar {
		height: 100vh;
	}
}

@media (max-height: 600px) {
	#chat-window {
		&-display {
			height: 77%;
		}
		&-control {
			height: 20%;
		}
	}
	#chat-sidebar #room-members {
		height: 50%;
	}
}

// @media (max-height: 450px) {
// 	#chat-window {
// 		&-display {
// 			height: 70%;
// 		}
// 		&-control {
// 			height: 30%;
// 		}
// 	}
// }
