@import "./util";

body {
	background: $dark-color1;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// Main header
#main-header {
	background: $dark-color0;
	padding: 1rem 0.5rem;
	height: 10%;
	border-bottom: 2px solid $primary-color;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		color: $primary-color;
	}
	#hamburger {
		width: 50px;
		height: 50px;
		border-radius: 10px;
		background: $dark-color1;
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: none;
		z-index: 20;

		div {
			width: 80%;
			height: 3px;
			margin: 3px;
			background: $primary-color;
			transition: all 0.3s ease-in-out;
			position: relative;
		}
	}
}

// Hamburger Toggle
.toggle {
	.line-1 {
		transform: rotate(-45deg) translate(-6px, 6px);
	}
	.line-2 {
		opacity: 0;
	}
	.line-3 {
		transform: rotate(45deg) translate(-6px, -6px);
	}
}

// join page
@import "./join.scss";

// chat page
@import "./chat.scss";

// responsive
@import "./mobile";
